#alarm {
    margin: auto;
    font-size: clamp(3rem, 9vw, 7rem);
    width: 100vw;
    height: 100%;
    text-align: center;
}

input[type="time"] {
  width: 150px;
  padding: 10px 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: light-dark(var(--text-light-mode), var(--text-dark-mode));
  color: light-dark(var(--text-light-mode), var(--text-dark-mode));
  transition: border-color 0.2s, box-shadow 0.2s;
}

input[type="time"]:focus {
  border-color: light-dark(rgba(var(--text-light-mode), 0.12), rgba(var(--text-dark-mode), 0.12));
  box-shadow: 0 0 6px 0 light-dark((var(--text-light-mode)), (var(--text-dark-mode)));
  outline: none;
}

.controls {
    text-align: center;
    margin-top: 1rem;
}

.controls button {
    display: inline-block;
    background: #333;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;
    margin: 0.3rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    width: clamp(40px, 20vw, 80px);
    height: clamp(40px, 20vw, 80px);
}

.controls button:hover {
    background: #555;
    transform: scale(1.1);
}