@import url("./styles.css");

#clock{
  margin: auto;
}

#clock > x-clock > time {
    font-size: clamp(2rem, 8vw, 6rem);
    color: light-dark(var(--text-light-mode), var(--text-dark-mode));
    letter-spacing: 0.05em;
}

#clock > x-clock > time:nth-child(2) {
    font-size: clamp(1rem, 4vw, 3rem);
    display: block;
    margin-top: 0.5rem;
    color: light-dark(var(--text-hover-light-mode), rgb(87, 87, 87));
}


