#stopwatch{
    font-size: clamp(2rem, 8vw, 6rem);
    position: relative;
    height: 100%;
    width: 100%;
}

x-stopwatch{
    display: block;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    background-color: #333;
    padding: 1rem;
    text-align: center;
}

x-stopwatch .controls .pause{
    display: none;
}

 x-stopwatch[start-time] .controls .pause{
    display: inline-block;
}   

x-stopwatch[paused=""] .controls .pause{
    display: none;
}

x-stopwatch[start-time]:not([start-time=""])[paused=""] .controls .start{
    display: inline-block;
}

 x-stopwatch[start-time=""] .controls .pause{
    display: none;
}   

x-stopwatch[start-time]:not([start-time=""]) .controls .start{
    display: none;
}