@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
:root{
  color-scheme: light dark;
  --backgroun-dark-mode: black;
  --background-light-mode: white;
  --text-dark-mode: white;
  --text-light-mode: black;
  --text-hover-dark-mode: rgb(48, 48, 48);
  --text-hover-light-mode: rgb(220, 220, 220);
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

body {
  display: flex;
  flex-direction: column;
  background-color: light-dark(var(--background-light-mode), var(--background-dark-mode));
  height: 100vh;
  width: 100vw;
}

main {
  height: 100%;
  width: 100%;
}

nav {
  order: 1;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  height: 100%;
}

nav > ul > li {
  text-align: center;
  margin: auto;
  width: 25%;
  height: 100%;
}

nav > ul > li > a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: light-dark(var(--text-light-mode), var(--text-dark-mode));
  font-size: clamp(1rem, 2vw, 2rem);
  height: 100%;
}

nav > ul > li > a > span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav > ul > li > a > span:nth-child(1) {
  order: 1;
  padding-bottom: 1rem;
}

nav > ul > li > a > span > img {
  width: clamp(2rem, 3vw, 3rem);
}

nav > ul > li > a > span:nth-child(2) {
  order: 2; 
}

main {
  display: flex;
}

main > section:not(:target) {
  display: none;
}

