@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  color-scheme: dark light;
  --backgroun-dark-mode: #121212;
  --background-light-mode: #f5f5f5;
  --text-dark-mode: 224, 224, 224;
  --text-light-mode: 33, 33, 33;
  --color-icons-dark: #c5c0ca;
  --color-icons-light: #35313a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

body {
  display: flex;
  flex-direction: column;
  background-color: light-dark(var(--background-light-mode), var(--background-dark-mode));
  width: 100vw;
  height: 100vh;
}

main {
  width: 100%;
  flex: 1;
}

a .material-icons {
  font-size: clamp(2rem, 2.5vw, 3rem);
  color: light-dark(var(--color-icons-light), var(--color-icons-dark));
}

nav {
  background-color: light-dark(rgba(var(--background-light-mode), 0.3, rgba(var(--background-dark-mode), 0.3)));
  backdrop-filter: blur(10px);
  z-index: 1000;
  position: sticky;
  bottom: 0;
  order: 1;
  flex: 0 0 10%;
}

nav>ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  height: 100%;
}

nav>ul>li {
  text-align: center;
  margin: auto;
  flex: 1;
}

nav>ul>li>a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: light-dark(var(--text-light-mode), var(--text-dark-mode));
  font-size: clamp(1rem, 2vw, 2rem);
  width: 85%;
}

main {
  display: flex;
}

main>section:not(:target) {
  display: none;
}

@media (min-width: 841px) {

  nav > ul > li > a:hover {
    border-radius: 100px 100px 100px 100px;
    padding: 0.7rem;
    background-color: light-dark(rgba(var(--text-light-mode), 0.08), rgba(var(--text-dark-mode), 0.08))
  }
  
  .resaltado{
    border-radius: 100px 100px 100px 100px;
    background-color: light-dark(rgba(var(--text-light-mode), 0.08), rgba(var(--text-dark-mode), 0.08))
  }

  nav > ul > li > a:focus {
    border-radius: 100px 100px 100px 100px;
    padding: 0.7rem;
    background-color: light-dark(rgba(var(--text-light-mode), 0.12), rgba(var(--text-dark-mode), 0.12))
  }

}

@media (max-width: 840px) {
  nav>ul>li>a {
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
  }

  nav a span:first-child {
    border-radius: 30%;
    padding: 0.6rem;
  }

  nav a span:first-child:hover {
    background-color: light-dark(rgba(var(--text-light-mode), 0.08), rgba(var(--text-dark-mode), 0.08))
  }

  .resaltado{
    border-radius: 30%;
    background-color: light-dark(rgba(var(--text-light-mode), 0.08), rgba(var(--text-dark-mode), 0.08))
  }
}